/** @format */

@import 'variables/variables';

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: $background-img no-repeat fixed center center;
  color: color(main);
}

h1 {
  color: color(header);
}

h2 {
  color: color(subheader);
}

a {
  color: color(lighter);

  .active {
    color: color(effaced);
  }

  &:hover {
    text-decoration: none;
    color: color(main);
  }
}

.effaced {
  color: color(effaced);
}
